.banner {
    height: 100vh;
    min-height: 700px;
    max-height: 1000px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(../imagenes/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }