h1 {
  font-size: 36px;
  font-weight: 600;
}
#courseName {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.course-col {
  flex-basis: 31%;
  background-color: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.4s;
  cursor: pointer;
}
.course-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}



p {
  color: #777;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
