.header--transparent nav {
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #080e1c;
  z-index: 1000;
  padding: 1.5rem;
}

nav img {
  width: 100px;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul {
  margin-top: 1rem;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.button-hamburger {
  border: none;
  background-color: transparent;
}
.header-menu-mobile ul li {
  list-style: none;
}
.header-menu-mobile ul li a {
  text-decoration: none;
}

/* MOBILE MENU */

.mobile-menu-opened {
  background: #f44336;
}
.mobile-menu-opened ul li a {
  color: #fff;
}

.mobile-menu-opened ul li a:hover {
  color: black;
  transition: 0.5s;
}
.offcanvas-header {
  background: #f44336;
}

/* MOBILE MENU ENDS*/

/* scrolled logo  */
.scrolled-navbar-logo {
  margin-top: 13px;
}

@media (min-width: 700px) {
  .button-hamburger {
    display: none;
  }
}

@media (max-width: 700px) {
  .scrolled-navbar-logo {
    margin-top: 0;
  }
}

@media (min-width: 700px) and (max-width: 701px) {
  nav {
    padding: 3rem;
  }
}
