.reviews-col {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;
  text-align: left;
}

.reviews-col img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 6/9;
}

.clients-layer {
  position: absolute;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  transition: 1s;
  aspect-ratio: 6/9;
  text-align: center;
  opacity: 0.5;
  overflow: hidden;
}
.clients-layer:hover {
  background: none;
}
#client {
  color: black;
  text-align: left;
  font-size: 25px;
  margin-top: 10px;
}

.reviews-col p {
  padding-bottom: 20px;
}
.reviews-col .fa-star {
  color: #f44336;
}

.half-star {
  color: #f44336;
}
